@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #f1faee;
    font-family: "Lato", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3557;
    height: 3rem;

    h1 {
        font-size: 2rem;
        color: #f1faee;
    }
}

main {
    aside {
        float: left;
        margin: 1rem;

        h2 {
            font-weight: bold;
            margin-bottom: 1rem;
        }

        ul li {
            margin-bottom: 0.1rem;

            a {
                text-decoration: none;
                color: #1d3557;
                font-size: 0.9rem;

                b {
                    color: gray;
                    font-weight: lighter;
                }
            }

            a:hover {
                color: #e63946;
            }
        }
    }
}


img {
    width: 200px;

}
.productos {
    margin: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 200px;
        margin: 1rem;
        border: 0.5px solid black;
        background-color: white;

        .nombre {
            margin-bottom: 0.5rem;
        }

        .precio {
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
            color: gray;
        }

        button {
            width: 100%;
            border: none;
            padding: 0.5rem;
            background-color: #1d3557;
            color: #f1faee;
        }
    }
}