@media screen and (max-width: 576px) {
    .products {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: 1fr;
        margin-left: 50%;
    } 
}

@media screen and (max-width: 992px) {
    .products {
        grid-template-columns: 1fr 1fr;
        margin-left: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .products {
        margin-left: 30%;
    }
    
}